{% extends 'Appentrega/padre.html'%}
{% load static %}
{% block 1 %}Buscador de Bombas{% endblock %}
{% block 2 %}
{% endblock %}
{% block 3 %}{% endblock %}
{% block 5 %}Ingrese la presión requerida (psi) :{% endblock %} ##Tema claro
{% block 6 %}

<form action="/resultadobusquedacen/" method="GET">
    <input type="number" name="presion" step="">
    <input type="submit" class="btn btn-success" value="Bombas Centrifugas">
</form>
<br></br>
<form action="/resultadobusquedator/" method="GET">
    <input type="number" name="presion" step="">
    <input type="submit" class="btn btn-success" value="Bombas de Tornillo">
</form>
<br></br>
<form action="/resultadobusquedaeng/" method="GET">
    <input type="number" name="presion" step="">
    <input type="submit" class="btn btn-success" value="Bombas de Engranajes">
</form>
</a>
{% endblock %}
{% block 7 %}{% endblock %}
