{% extends 'Appentrega/padre.html'%}
{% load static %}
{% block 1 %}Proyecto Final 
<br>CoderHouse</br>
<br>Comisión 50195</br>{% endblock %}
{% block 2 %}{% endblock %}
{% block 3 %}{% endblock %}
{% block 5 %}{% endblock %} ##Tema claro
{% block 6 %}Me presento, soy Mauro Gorriz. 
<br>Actualmente soy estudiante de Ingeniería.
Apartir de este curso obtuve una orientación hacia que rama voy a apuntar en un futuro(Gracias por eso).</br>
<br>Muchas gracias por tomarse el tiempo de ver mi proyecto y espero su devolución.</br>{% endblock %}
{% block 7 %}{% endblock %}
